%h1.row
  .col-md-10
    = @round.title
    %small
      .span.date-format{:data => {:date => @round.deadline.try(:iso8601)}}
  .col-md-2
    - if @round.question_collection_phase?
      %a.btn.btn-success{:href => "/rounds/#{@round.id}/questions/create"}
        %span.glyphicon.glyphicon-plus
        Add a new Question

- unless @round.description.nil?
  %p&= @round.description

.row
  .col-md-8
    = will_paginate @questions, renderer: BootstrapPagination::Sinatra
  .col-md-4{:style => "margin-top:20px"}
    %form{:method => :GET, :action => ""}
      %input{:type=>:hidden, :name => :filter, :value => params[:filter]}
      %a.filter{:href => "/rounds/#{@round.id}/questions",
          :class => (:active if params[:filter].blank?)}
        All
      |
      %a.filter{:href => "/rounds/#{@round.id}/questions?filter=myvotes",
          :class => (:active if params[:filter]=='myvotes')}
        My Votes
      |
      %a.filter{:href => "/rounds/#{@round.id}/questions?filter=notvoted",
          :class => (:active if params[:filter]=='notvoted')}
        Not Voted
      |
      %label{:for => :per_page_selector} Show
      %select#per_page_selector{:name => :per_page}
        - [10, 25, 50, 100, 500].each do |pv|
          %option{:value => pv, :selected => params[:per_page] == pv}= pv
      %button#per_page_button.btn.btn-primary.btn-xs{:type=>:submit} Ok

- if @questions.empty?
  %p{:style => "text-align: center;margin-top:100px;margin-bottom:100px"}
    No Questions found.
- else
  %ul.list-group#question-list{:class => ('votable' if @round.votable?)}
    - @questions.each do |question|
      = haml :'questions/_list_item', :layout => false, :locals => {:question => question, :rank => nil}

= will_paginate @questions, renderer: BootstrapPagination::Sinatra

%script{:src => "/js/round.js"}
