%h1
  %center
    Rounds

%small.text-success
  %a.btn.btn-success{:href => '/rounds/create'}
    %span.glyphicon.glyphicon-plus
    Add a new Round

%p

= will_paginate @rounds, renderer: BootstrapPagination::Sinatra

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Title
      %th Deadline
      %th Description
      %th Questions
      %th Stats
      %th
  %tbody
    - @rounds.each do |round|
      %tr{:class => round.state}
        %td
          %a{:href => "/rounds/#{round.id}/questions"}
            &= round.title
        %td
          .span.date-format{:data => {:date => round.deadline.try(:iso8601)}}
        %td&= round.description
        %td= round.questions.count
        %td
          - if round.votable?
            = " - "
          - else
            - stats = round.votes_statistics
            %table
              %tr
                %th Total
                %td= stats["total_votes"]
              %tr
                %th Up
                %td= stats["up_votes"]
              %tr
                %th Down
                %td= stats["down_votes"]
              %tr
                %th Voters
                %td= stats["voters"]
        %td
          - if round.owner == current_user
            %form{:action => "/rounds/#{round.id}/state_update", :method => :POST}
              .btn-group-vertical{:style => "width: 100px"}
                %a.btn.btn-sm.btn-primary{:href => "/rounds/#{round.id}/edit"} Edit
                - if round.active?
                  %button.btn.btn-sm.btn-success{:type => :submit, :name => :state, :value => :question_phase} Question Phase
                - elsif round.question_collection_phase?
                  %button.btn.btn-sm.btn-success{:type => :submit, :name => :state, :value => :voting_phase} Voting Phase
                - elsif round.voting_phase?
                  %button.btn.btn-sm.btn-warning{:type => :submit, :name => :state, :value => :deactivate} Close
                - elsif round.inactive?
                  %button.btn.btn-sm.btn-success{:type => :submit, :name => :state, :value => :activate} Restart
                  %button.btn.btn-sm.btn-danger{:type => :submit, :name => :state, :value => :finalize} Finalize

= will_paginate @rounds, renderer: BootstrapPagination::Sinatra
